

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <h3>Esqueceu sua senha?</h3>
    </div>

    <!-- Login Form -->
    <form>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="actions">
          <%= f.submit "Recuperar Senha" %>
        </div>
      <% end %>
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover"><%= render "devise/shared/links" %></a>
    </div>

  </div>
</div>