<header>
  <h3>Bem vindo ao ColaBora Trader</h3>
  <h5>Site exclusivos para colaboradores da empresa XXX</h5>
</header>

<% if collaborator_signed_in? %>
  <% if current_collaborator.admin %>
    <%= "Administrador: #{current_collaborator.name}" %>
    <%= link_to 'Registrar categoria de produto', new_product_category_path %>
  <% else %>
    <%= current_collaborator.name %>
  <% end %>
  <li><%= link_to 'Sair', destroy_collaborator_session_path, method: :delete %></li>
<% else %>
  <%= link_to 'Entrar', new_collaborator_session_path %>
  <%= link_to 'Nova Conta', new_collaborator_registration_path %>
<% end %>

