<%= render partial: 'home/navbar' %>
  
<h1>Categorias de produto</h1>

<dl> 
  <dt><%= ProductCategory.human_attribute_name :name %></dt>
  <dd><%= @product_category.name %></dd>
</dl>

<%= link_to 'Editar', edit_product_category_path(@product_category) %>
<%= link_to 'Apagar', product_category_path(@product_category), method: :delete,
                                          data: { confirm: 'Tem certeza que deseja deletar?'} %>
<%= link_to 'Voltar', new_product_category_path %>

<%= render partial: 'home/footer' %>