<%= render partial: 'home/navbar' %>

<ul>
  <% @product.errors.full_messages.each do |message| %>
    <li>
      <%= message %>
    </li>
  <% end %>
</ul>

<%= form_with model: @product, local:true do |f| %>
  <div>
    <%= f.label :name, 'Produto' %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :price, 'Preço' %>
    <%= f.number_field :price, min: 0 %>
  </div>
  <div>
    <%= f.label :amount, 'Quantidade' %>
    <%= f.number_field :amount %>
  </div>
  <div>
    <%= f.label :condition, 'Condição' %>
    <%= f.text_field :condition %>
  </div>
  <div>
    <%= f.label :product_category_id, 'Categoria de produto' %>
    <%= f.collection_select :product_category_id, ProductCategory.all, :id, :name %>
  </div>
  <div>
    <%= f.label :start_date, 'Data inicio venda' %>
    <%= f.date_field :start_date %>
  </div>>
  <div>
    <%= f.label :end_date, 'Data fim venda' %>
    <%= f.date_field :end_date %>
  </div>
  <%= f.submit 'Colocar à venda' %>
<% end %>

<%= link_to 'Voltar', root_path %>

<%= render partial: 'home/footer' %>